* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
}

section {
    padding: 64px 128px;
}

/* header section */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 5;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

#header h1 {
    margin: 0;
    color: #2d2e32;
    font-weight: 700;
    font-size: 48px;
    padding: 16px 0 16px 0;
}

nav > a {
    margin-left: 12px;
    text-decoration: none;
    color: #2d2e32;
    font-size: 24px;
}

nav > a:hover {
    color: #ffc108;
}

/* end header section */

/* landing section */

#landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

#landing h1 {
    color: #2d2e32;
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 16px 0;
}

#landing p {
    margin-bottom: 32px;
    color: #555555;
    margin: 0 0 16px 0;
    font-size: 24px;
}

#landing > div {
    width: 50%;
}

#landing .btn-group-landing {
    margin-top: 35px;
}

#landing a {
    text-decoration: none;
    color: #2d2e32;
    font-size: 24px;
}

#landing .btn {
    background-color: #ffc108;
    color: #ffffff;
    padding: 8px 24px;
    border-radius: 24px;
}

#landing .btn-alt {
    background-color: #ffffff;
    color: #2d2e32;
    margin-right: 16px;
    border: 2px solid #ffc108;
}

#landing > div img {
    width: 100%;
}

/* end landing section */

/* about section */

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

#about > div {
    width: 50%;
}

#about > div img {
    width: 100%;
}

#about h1 {
    color: #2d2e32;
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 16px 0;
}

#about p {
    color: #555555;
    margin: 0 0 16px 0;
    font-size: 24px;
}

.about-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 72px;
}

.about-stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-stats-item div {
    width: 50px;
    height: 10px;
    background-color: #ffc108;
    margin-bottom: 16px;
}

/* end about section */

/* service section */

.service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-header h1 {
    position: relative;
    color: #2d2e32;
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 16px 0;
}

.service-header h1::before {
    content: "";
    width: 60px;
    height: 60px;
    background: url("./images/accent1.svg");
    position: absolute;
    left: -20px;
    top: -10px;
    z-index: -1;
}

.service-header p {
    color: #555555;
    margin: 0 0 16px 0;
    font-size: 24px;
}

.service-header a {
    text-decoration: none;
    color: #2d2e32;
    font-size: 24px;
}

.service-header .btn {
    background-color: #ffc108;
    color: #ffffff;
    padding: 8px 24px;
    border-radius: 24px;
}

.service-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 128px;
    margin-top: 72px;
}

.service-detail-item {
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-detail-item:hover {
    transform: scale(1.15);
}

.service-detail-item img {
    width: 100%;
    filter: grayscale(1);
}

.service-detail-item:hover img {
    filter: grayscale(0);
}

.service-detail-item h2 {
    color: #2d2e32;
    padding: 0 16px;
}

.service-detail-item p {
    color: #555555;
    font-size: 16px;
    padding: 0 16px;
}

/* end service section */

/* contact section */

#contact h1 {
    position: relative;
    color: #2d2e32;
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 16px 0;
}

#contact > h1::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background: url("./images/accent2.svg");
    left: -20px;
    top: -10px;
    z-index: -1;
}

#contact p {
    color: #555555;
    margin: 0 0 16px 0;
    font-size: 24px;
}

.contact-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    column-gap: 128px;
}

.contact-detail > div, .contact-detail > form {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    border: 3px solid #ffc108;
    padding: 64px 32px;
}

form .tell-us {
    color: #2d2e32;
    font-size: 32px !important;
    text-align: center;
}

form button {
    border: none;
}

form button:hover {
    cursor: pointer;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    margin-top: 32px;
    grid-template-areas:    "name subject"
                            "email phone"
                            "message message";
}

#input-name {
    grid-area: name;
}

#input-subject {
    grid-area: subject;
}

#input-email {
    grid-area: email;
}

#input-phone {
    grid-area: phone;
}

#input-message {
    grid-area: message;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.input-group label {
    color: #2d2e32;
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 24px;
}

.input-group input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.input-group input:focus {
    border-bottom: 2px solid #FFC108;
}

form .btn {
    background-color: #ffc108;
    color: #ffffff;
    font-size: 24px;
    padding: 10px 24px;
    border-radius: 24px;
}

iframe {
    width: 100%;
}

/* end contact section */

/* footer section */

#footer {
    padding: 16px 128px;
    background-color: #ffc108;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer h1 {
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 16px 0;
}

#footer p {
    width: 50%;
    margin: 0 0 16px 0;
    font-size: 24px;
}

.social-icon {
    display: flex;
    gap: 32px;
}

.social-icon img {
    cursor: pointer;
}

/* end footer section */